<ion-header>
    <ion-toolbar color="primary" no-border>
        <ion-title>Description Edit</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
                <ion-card>
                    <ion-card-content>
                        <ion-chip>
                            <ion-label color="primary">{{ data['method'] }}</ion-label>
                        </ion-chip>
                        <ion-label>{{ data['path'] }}</ion-label>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
                <form [formGroup]="filesForm" novalidate (ngSubmit)="onSubmit()">
                    <!--<ion-item>-->
                        <!--<ion-radio-group formControlName="io">-->
                            <!--<ion-item>-->
                                <!--<ion-label>File</ion-label>-->
                                <!--<ion-radio  slot="start" value="file" checked></ion-radio>-->
                            <!--</ion-item>-->
                            <!--<ion-item>-->
                                <!--<ion-label>URL</ion-label>-->
                                <!--<ion-radio slot="start" value="uri"></ion-radio>-->
                            <!--</ion-item>-->
                        <!--</ion-radio-group>-->
                    <!--</ion-item>-->
                    <ion-item>
                        <ion-label>Put XSD file</ion-label>
                        <input type="file" accept=".xsd" (change)="onFileChange($event)" />
                    </ion-item>
                    <!--<ion-item *ngIf="filesForm.value.io == 'uri'">-->
                        <!--<ion-label>Enter WSDL url</ion-label>-->
                        <!--<input type="text" formControlName="uri" (change)="onURIChange($event)" />-->
                    <!--</ion-item>-->
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>


    <app-md name="Content"
            [upload]="doUpload"
            [(ngModel)]="content"
            [height]="'300px'"
            [mode]="mode"
            [options]="options"
            required
            maxlength="5000">
    </app-md>

    <ion-button (click)="dismiss()">dismiss</ion-button>
    <ion-button (click)="save()">save</ion-button>
</ion-content>
